
/* =========================
   CONTAINER
========================= */
.cart-container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
  color: #0f1111;

}

.cart-title {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

/* =========================
   MAIN LAYOUT
========================= */
.cart-main {
  display: flex;
  gap: 20px;
}

/* =========================
   LEFT SECTION
========================= */
.cart-left-section {
  flex: 3;
  background: #fff;
  padding: 20px;
  border-radius: 6px;
}

/* =========================
   CART ITEM
========================= */
.cart-row {
  display: flex;
  align-items: center;   /* ✅ vertical center */
  justify-content: space-between;
  gap: 15px;
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
}

.cart-img-box img {
  width: 100px;
}

/* =========================
   DETAILS
========================= */
.cart-details {
  flex: 1;
}

.cart-details h4 {
  margin: 0 0 5px;
}

.stock {
  color: green;
  font-size: 13px;
}

/* =========================
   ACTIONS
========================= */
.cart-actions {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.qty-box {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 20px;
  overflow: hidden;
}

.qty-box button {
  border: none;
  background: #f0f0f0;
  padding: 5px 10px;
  cursor: pointer;
}

.qty-box span {
  padding: 5px 10px;
}

.link-btn {
  border: none;
  background: none;
  color: #007185;
  cursor: pointer;
}

/* =========================
   PRICE
========================= */
.cart-price {
  font-weight: bold;
  min-width: 80px;
  text-align: right;
}

/* =========================
   SUMMARY BOX
========================= */
.cart-summary-box {
  flex: 1;
  background: #fff;
  padding: 20px;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  gap: 12px;

  justify-content: center;   /* vertical center */
  align-items: center;       /* horizontal center */
  text-align: center;
}

/* Subtotal */
.subtotal-text {
  font-size: 18px;
}


/* Button */
.checkout-btn {
  width: 100%;
  max-width: 250px;
  padding: 12px;
  background: #ffd814;
  border: none;
  border-radius: 25px;
  font-weight: 500;
  cursor: pointer;
}

.checkout-btn:hover {
  background: #f7ca00;
}
/* =========================
   TABLET
========================= */
@media (max-width: 900px) {
  .cart-main {
    flex-direction: column;
  }

  .cart-summary-box {
    width: 100%;
  }
  
}

/* =========================
   MOBILE
========================= */
@media (max-width: 600px) {

  .cart-row {
    flex-direction: column;
    text-align: center;
  }
  .cart-container{
    padding-bottom: 500px;
  }

  .cart-price {
    text-align: center;
  }

  .cart-actions {
    justify-content: center;
  }

  

 

  .checkout-btn {
    max-width: 100%;
  }

  .cart-container {
    padding-bottom: 100px; /* prevent overlap */
  }

  .cart-container {
    padding-bottom: 70px;
  }
}