/* =========================
   NAVBAR CONTAINER
========================= */

.navbar{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:clamp(14px,2vw,22px) clamp(20px,6vw,100px);
  font-family:'Inria Serif', serif;
  position:relative;
  background:#09193a;
}

/* =========================
   LOGO
========================= */

.brand-logo{
  height:clamp(34px,3vw,42px);
  width:auto;
  object-fit:contain;
}

.brand-link{
  display:flex;
  align-items:center;
}

/* =========================
   NAV LINKS
========================= */

.navbar-links{
  display:flex;
  align-items:center;
  gap:clamp(20px,3vw,40px);
}

.nav-link{
  font-size:clamp(14px,1.1vw,18px);
  font-weight:500;
  text-decoration:none;
  color:#ffffff;
  transition:0.2s;
}

.nav-link:hover{
  color:#2a5db0;
}

/* =========================
   AUTH SECTION
========================= */

.navbar-auth{
  display:flex;
  align-items:center;
}

.auth-link{
  display:flex;
  align-items:center;
  gap:6px;
  font-size:clamp(14px,1.1vw,18px);
  text-decoration:none;
  color:#ffffff;
}

/* =========================
   TOGGLE BUTTON
========================= */

.menu-toggle{
  display:none;
  cursor:pointer;
}

/* =========================
   MOBILE DESIGN
========================= */

@media (max-width:768px){

  .menu-toggle{
    display:block;
    position:absolute;
    right:20px;
    top:22px;
  }

  .navbar-links{
    position:absolute;
    top:100%;
    left:0;
    width:100%;

    flex-direction:column;
    align-items:center;

    gap:22px;
    padding:25px 0;

    background:#fff;

    box-shadow:0 8px 20px rgba(0,0,0,0.08);

    display:none;
  }

  .navbar-links.active{
    display:flex;
  }

  .navbar-auth{
    margin-top:10px;
  }
  .auth-link{
 color:#060b2f;
}
.nav-link{
  color:#060b2f;
}

}